<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="wrapper">
      <form class="" action="/add" method="post">
        <input type="text" name="todo" value="" placeholder="Add To Do Item..."><button type="submit" name="submit">+</button>
      </form>
      <h3>To Do List</h3>
      {{#notcompleted}}
      <ul>
      <form class="" action="/done" method="post">
        <li><button type="submit" name="id" value="{{id}}">&#10003</button>{{todo}}</li>
      </form>
      </ul>
      {{/notcompleted}}
      <h3>Completed</h3>
      {{#completed}}
      <ul>
        <li><del>{{todo}}</del></li>
      </form>
      </ul>
      {{/completed}}
    </div>
  </body>
</html>
