<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To Do List</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <div class="wrapper">
      <form class="" action="/add" method="post">
        <input type="text" name="todo" value="" placeholder="Add To Do Item..."><button type="submit" name="submit">+</button>
      </form>
      <h3>To Do List</h3>
      {{#todos}}
      <ul>
      <form class="" action="/done" method="post">
        <li><button type="submit" name="todo" value="{{.}}">&#10003</button>{{.}}</li>
      </form>
      </ul>
      {{/todos}}
      <h3>Completed</h3>
      {{#done}}
      <ul>
        <li><del>{{.}}</del></li>
      </form>
      </ul>
      {{/done}}
    </div>
  </body>
</html>
